<template>
  <v-container>
    <v-dialog v-model="dialog.delete" scrollable persistent width="350">
      <v-card>
        <v-card-title class="teal darken-4 white--text">
          <v-icon color="white" class="mr-2">mdi-information</v-icon>
          Informasi
          <v-btn class="mt-n1" icon dark top right absolute @click="resetForm">
            <v-icon color="teal darken-5">mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pt-6">
          <p class="ma-0 body-1">
            Apakah anda yakin menghapus pemberitahuan
            <span class="font-weight-bold">
              {{ detail.title }}
            </span>
            ?
          </p>
          <v-alert
            v-if="error.message"
            text
            type="error"
            class="custom-alert my-4"
          >
            <p class="body-2 mb-0">
              {{ error.message }}
            </p>
          </v-alert>
        </v-card-text>
        <v-card-actions class="pb-6 px-6">
          <v-spacer></v-spacer>
          <v-btn
            small
            text
            color="red"
            elevation="0"
            :disabled="loadFormAnnouncement"
            class="text-capitalize"
            @click="onDelete(detail.id)"
          >
            Hapus
          </v-btn>
          <v-btn
            small
            light
            color="teal darken-4"
            elevation="0"
            :disabled="loadFormAnnouncement"
            @click="resetForm"
            class="white--text text-capitalize"
          >
            Tidak
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.create" persistent scrollable max-width="600">
      <v-card>
        <v-card-title class="teal darken-4 white--text">
          <v-icon color="white" class="mr-2">mdi-bullhorn</v-icon>
          {{
            selectedPage === 'update'
              ? 'Ubah'
              : selectedPage === 'detail'
              ? 'Detail'
              : 'Tambah'
          }}
          Pemberitahuan
          <v-btn class="mt-n1" icon dark top right absolute @click="resetForm">
            <v-icon color="teal darken-5">mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <template v-if="selectedPage !== 'detail'">
          <v-card-text class="pt-6">
            <ValidationObserver ref="observer">
              <v-form ref="form" :readonly="loadFormAnnouncement">
                <ValidationProvider
                  name="Judul Pemberitahuan"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    dense
                    outlined
                    label="Judul Pemberitahuan"
                    color="teal darken-4"
                    v-model="form.title"
                    :error-messages="formErrors.title || errors"
                  >
                  </v-text-field>
                </ValidationProvider>
                <ValidationProvider
                  name="Deskripsi"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <v-textarea
                    outlined
                    dense
                    label="Deskripsi"
                    color="teal darken-4"
                    v-model="form.content"
                    :error-messages="formErrors.content || errors"
                  >
                  </v-textarea>
                </ValidationProvider>
              </v-form>
            </ValidationObserver>
            <v-alert
              v-if="error.message"
              text
              type="error"
              class="custom-alert my-4"
            >
              <p class="body-2 mb-0">
                {{ error.message }}
              </p>
            </v-alert>
          </v-card-text>
          <v-card-actions class="pb-6 px-6">
            <v-spacer></v-spacer>
            <v-btn
              small
              color="#fff"
              elevation="0"
              :disabled="loadFormAnnouncement"
              class="text-capitalize grey--text text--darken-1"
              @click="resetForm"
            >
              Batal
            </v-btn>
            <v-btn
              small
              light
              color="teal darken-4"
              elevation="0"
              :disabled="loadFormAnnouncement"
              :loading="loadFormAnnouncement"
              @click="saveForm"
              class="white--text text-capitalize"
            >
              Sebarkan
            </v-btn>
          </v-card-actions>
        </template>
        <template v-if="selectedPage === 'detail'">
          <v-card-text class="pt-6">
            <v-list-item-title class="body-2 grey--text text--darken-2">
              <p class="caption grey--text text-lighten-4 mb-1">Judul:</p>
              {{ detail.title }}
            </v-list-item-title>
            <v-list-item-title class="body-2 grey--text text--darken-2 mt-2">
              <p class="caption grey--text text-lighten-4 mb-1">Deskripsi:</p>
              <p class="body-2 line-text" v-text="detail.content" />
            </v-list-item-title>
          </v-card-text>
          <v-card-actions class="pb-6 px-6">
            <v-spacer></v-spacer>
            <v-btn
              small
              color="#fff"
              elevation="0"
              class="text-capitalize grey--text text--darken-1"
              @click="resetForm"
            >
              Tutup
            </v-btn>
          </v-card-actions>
        </template>
      </v-card>
    </v-dialog>
    <v-row>
      <v-col cols="12">
        <v-card outlined>
          <v-card-title>
            <div class="text--secondary">List Pemberitahuan</div>
          </v-card-title>
          <v-card-subtitle class="mt-3">
            <v-sheet class="d-sm-flex align-center justify-space-between">
              <v-btn
                :block="$vuetify.breakpoint.name === 'xs'"
                color="teal darken-4"
                class="text-capitalize"
                dark
                elevation="2"
                @click.stop="dialog.create = true"
              >
                <v-icon small>mdi-plus</v-icon> Pemberitahuan
              </v-btn>
              <v-sheet class="d-sm-flex mt-4 mt-sm-0 align-center">
                <v-text-field
                  dense
                  outlined
                  v-model="search"
                  hide-details
                  placeholder="Cari Pemberitahuan . . ."
                  clearable
                  color="teal darken-4"
                  prepend-inner-icon="mdi-magnify"
                  class="mb-4 mb-sm-0 mr-sm-2"
                  :full-width="$vuetify.breakpoint.name === 'xs'"
                >
                </v-text-field>
              </v-sheet>
            </v-sheet>
          </v-card-subtitle>
          <v-card-text>
            <v-divider class="my-2" />
            <v-skeleton-loader
              class="ma-auto"
              :loading="loadAnnouncements"
              transition="fade-transition"
              :tile="false"
              type="table-row"
              v-for="index in loadAnnouncements ? 10 : 1"
              :key="index"
            >
              <v-data-table
                v-show="announcements.length >= 1"
                :headers="headers"
                mobile-breakpoint="1"
                hide-default-footer
                :items="announcements"
                :page.sync="page"
                @page-count="pageCount = $event"
                :search="search"
                :items-per-page="itemsPerPage"
                fixed-header
                min-height="250px"
                :height="
                  $vuetify.breakpoint.name !== 'xs' ? 'calc(100vh - 50vh)' : ''
                "
              >
                <template v-slot:[`item.aksi`]="{ item }">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        x-small
                        color="green"
                        elevation="0"
                        class="text-capitalize white--text ma-1"
                        v-bind="attrs"
                        v-on="on"
                        @click="toDetail(item)"
                      >
                        <v-icon small>mdi-alert-circle-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>Detail</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        x-small
                        color="blue darken-1"
                        elevation="0"
                        class="text-capitalize white--text ma-1"
                        v-bind="attrs"
                        v-on="on"
                        @click="updateAnnouncementHandler(item)"
                      >
                        <v-icon small>mdi-square-edit-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>Edit</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        x-small
                        color="red"
                        elevation="0"
                        class="text-capitalize white--text ma-1"
                        v-bind="attrs"
                        v-on="on"
                        @click="
                          detail = item;
                          dialog.delete = true;
                        "
                      >
                        <v-icon small>mdi-trash-can-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>Delete</span>
                  </v-tooltip>
                </template>
                <template v-slot:[`item.content`]="{ item }">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <span v-bind="attrs" v-on="on">
                        {{ item.content | address }}
                      </span>
                    </template>
                    <span>
                      {{ item.content }}
                    </span>
                  </v-tooltip>
                </template>
                <template v-slot:[`item.createdAt`]="{ item }">
                  {{ item.createdAt.toDate() | datetime }}
                </template>
              </v-data-table>
            </v-skeleton-loader>
            <div
              class="text-center text--secondary"
              v-show="!loadAnnouncements && announcements.length < 1"
            >
              <v-icon
                style="font-size: 60px; margin-top: 1.5em"
                color="teal darken-4"
              >
                mdi-close-circle-outline
              </v-icon>
              <p class="headline font-weight-bold mt-2 mb-1">Data kosong</p>
              <p>Data yang Anda cari tidak ada disini</p>
            </div>
          </v-card-text>
          <v-card-actions class="pb-6 px-6">
            <v-row>
              <v-col
                v-if="
                  announcements.length > 0 && $vuetify.breakpoint.name !== 'xs'
                "
                cols="5"
              >
                <div class="body-2 font-weight-bold mt-4">
                  Total {{ announcements.length }} data
                </div>
              </v-col>
              <v-col
                v-if="pageCount > 1"
                :cols="$vuetify.breakpoint.name !== 'xs' ? '7' : '12'"
              >
                <div class="float-sm-right">
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                    :total-visible="5"
                    color="primary"
                    circle
                  >
                  </v-pagination>
                </div>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import announcement from '@/mixins/announcement';
export default {
  mixins: [announcement],
  data() {
    return {
      search: '',
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      detail: {},
      form: {
        id: '',
        title: '',
        content: '',
      },
      dialog: {
        create: false,
        delete: false,
      },
      selectedPage: '',
      headers: [
        {
          text: 'Aksi',
          value: 'aksi',
          align: 'start',
          width: 200,
          sortable: false,
          class: 'font-weight-black body-2',
        },
        {
          text: 'Judul',
          width: 200,
          class: 'font-weight-black body-2',
          value: 'title',
        },
        {
          text: 'Deskripsi',
          width: 200,
          class: 'font-weight-black body-2',
          value: 'content',
        },
        {
          text: 'Tanggal',
          width: 200,
          class: 'font-weight-black body-2',
          value: 'createdAt',
        },
      ],
    };
  },
  mounted() {
    this.getAnnouncements();
  },
  methods: {
    toDetail(item) {
      this.detail = item;
      this.selectedPage = 'detail';
      this.dialog.create = true;
    },
    resetForm() {
      this.clearError();
      if (this.$refs.observer) this.$refs.observer.reset();
      this.dialog = {
        create: false,
        delete: false,
      };
      this.form = {
        id: '',
        title: '',
        content: '',
      };
      this.selectedPage = '';
      this.detail = {};
    },
    async saveForm() {
      this.clearError();
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        try {
          if (this.form.id) {
            await this.updateAnnouncement(this.form, this.form.id);
          } else {
            await this.createAnnouncement(this.form);
          }
          this.page = 1;
          this.resetForm();
          await this.getAnnouncements();
        } catch (e) {
          // eslint-disable-next-line no-console
          console.error(e);
        }
      }
    },
    updateAnnouncementHandler(announcement) {
      this.selectedPage = 'update';
      this.form = {
        id: announcement.id,
        title: announcement.title,
        content: announcement.content,
      };
      this.dialog.create = true;
    },
    async onDelete(id) {
      this.clearError();
      try {
        await this.deleteAnnouncement(id);
        this.page = 1;
        this.resetForm();
        await this.getAnnouncements();
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e);
      }
    },
  },
};
</script>
