<template>
  <v-container class="py-0">
    <v-row justify="center" align="center" style="min-height: 100vh">
      <v-col cols="12" class="text-center">
        <v-img
          max-width="212"
          class="d-block mx-auto"
          :src="require('@/assets/icons/not-allowed.svg')"
        />
        <span class="d-block text-center text-h2 white--text my-4"> 401 </span>
        <span class="d-block text-center body-1 white--text my-4">
          Maaf, Anda tidak memiliki akses!
        </span>
        <v-btn
          width="212"
          max-width="212"
          :to="{ name: 'menu' }"
          color="teal darken-4"
          dark
          class="text-capitalize mt-4"
        >
          Kembali ke beranda
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
