<template>
  <v-container class="py-0">
    <v-row justify="center" align="center" style="min-height: 100vh">
      <v-col cols="12">
        <v-card
          width="90%"
          max-width="408"
          class="my-4 mx-auto"
          style="box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.2); z-index: 1"
        >
          <div class="pa-5">
            <v-img
              class="ma-auto mt-3 mb-6"
              contain
              width="200"
              :src="require('@/assets/ugm_logo_full.png')"
            />
            <div class="text-center mb-5 grey--text">
              <p class="title mb-1">Sistem Informasi Monitoring Realtime</p>
              <p class="caption">SATGASMADA</p>
            </div>
            <div class="d-flex align-center">
              <v-divider color="white"></v-divider>
              <div class="mx-1 font-weight-bold teal--text text-darken-4">
                Masuk
              </div>
              <v-divider color="white"></v-divider>
            </div>
          </div>
          <div class="pa-5">
            <ValidationObserver ref="observer">
              <v-form
                class="text-left mb-6"
                :readonly="loadingAuth"
                @submit.native.prevent="loginHandler"
              >
                <ValidationProvider
                  name="email"
                  rules="required|email"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    :error-messages="errors"
                    v-model="form.email"
                    autofocus
                    filled
                    type="email"
                    rounded
                    dense
                    color="grey darken-3"
                    placeholder="E-mail"
                    @keyup.enter="loginHandler"
                  >
                  </v-text-field>
                </ValidationProvider>
                <ValidationProvider
                  name="Password"
                  rules="required|max:20"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="form.password"
                    :error-messages="errors"
                    class="mt-2 mb-1"
                    filled
                    color="grey darken-3"
                    rounded
                    dense
                    placeholder="Password"
                    :type="show ? 'text' : 'password'"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="show = !show"
                    :counter="20"
                    @keyup.enter="loginHandler"
                  >
                  </v-text-field>
                </ValidationProvider>
              </v-form>
            </ValidationObserver>
            <div class="text-center mt-4 mb-4">
              <v-alert
                type="error"
                text
                dense
                prominent
                v-show="error.message !== ''"
                v-html="error.message"
              >
              </v-alert>
              <v-btn
                rounded
                block
                color="teal darken-4"
                :disabled="loadingAuth"
                :loading="loadingAuth"
                @click="loginHandler"
                class="white--text text-capitalize"
              >
                Masuk
              </v-btn>
            </div>
            <div class="text-center mb-5 grey--text">
              <p class="caption">
                Belum punya akun?
                <router-link to="/register">Daftar</router-link>
              </p>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import auth from '@/mixins/auth';
export default {
  mixins: [auth],
  data() {
    return {
      show: false,
      form: {
        email: '',
        password: '',
      },
    };
  },
  methods: {
    async loginHandler() {
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        try {
          await this.login(this.form);
          this.$router.push('/menu');
        } catch (e) {
          // eslint-disable-next-line no-console
          console.error(e.errors.message);
        }
      }
    },
  },
};
</script>
