<template>
  <v-container class="py-0">
    <v-row justify="center" align="center" style="min-height: 100vh">
      <v-col cols="12">
        <v-card
          width="100%"
          max-width="512"
          class="my-4 mx-auto"
          style="box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.2); z-index: 1"
        >
          <div class="pa-5 d-flex justify-center align-center">
            <v-img
              class="mr-3"
              contain
              max-width="100"
              :src="require('@/assets/ugm_logo_full.png')"
            />
            <div class="grey--text">
              <p class="title mb-0">
                Sistem Informasi <br />
                Monitoring Realtime
              </p>
              <p class="caption mb-0">SATGASMADA</p>
            </div>
          </div>
          <div class="d-flex align-center">
            <v-divider color="white"></v-divider>
            <div class="mx-1 font-weight-bold teal--text text-darken-4">
              Daftar
            </div>
            <v-divider color="white"></v-divider>
          </div>
          <div class="pa-5">
            <ValidationObserver ref="observer">
              <v-form
                class="text-left mb-6"
                :readonly="loadingAuth"
                @submit.native.prevent="registerHandler"
              >
                <ValidationProvider
                  name="name"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    :error-messages="errors"
                    v-model="form.name"
                    autofocus
                    filled
                    rounded
                    dense
                    color="grey darken-3"
                    label="Nama"
                    @keyup.enter="registerHandler"
                  >
                  </v-text-field>
                </ValidationProvider>
                <ValidationProvider
                  name="email"
                  rules="required|email"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    :error-messages="errors"
                    v-model="form.email"
                    filled
                    type="email"
                    rounded
                    dense
                    color="grey darken-3"
                    label="E-mail"
                    @keyup.enter="registerHandler"
                  >
                  </v-text-field>
                </ValidationProvider>
                <ValidationProvider
                  name="phone"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    :error-messages="errors"
                    v-model="form.mobilephone"
                    filled
                    type="number"
                    rounded
                    dense
                    color="grey darken-3"
                    label="Nomor Telepon"
                    @keyup.enter="registerHandler"
                  >
                  </v-text-field>
                </ValidationProvider>
                <ValidationProvider
                  name="Password"
                  rules="required|min:6|confirmed:confirmation"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="form.password"
                    :error-messages="errors"
                    class="mt-2 mb-1"
                    filled
                    color="grey darken-3"
                    rounded
                    dense
                    label="Password"
                    :type="show ? 'text' : 'password'"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="show = !show"
                    :counter="20"
                    @keyup.enter="registerHandler"
                  >
                  </v-text-field>
                </ValidationProvider>
                <ValidationProvider
                  name="Confirm Password"
                  rules="required|min:6"
                  vid="confirmation"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="form.confirm_password"
                    :error-messages="errors"
                    class="mt-2 mb-1"
                    filled
                    color="grey darken-3"
                    rounded
                    dense
                    label="Konfirmasi Password"
                    :type="showConPass ? 'text' : 'password'"
                    :append-icon="showConPass ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showConPass = !showConPass"
                    hint="Minimal 6 Karakter"
                    :counter="20"
                    @keyup.enter="registerHandler"
                  >
                  </v-text-field>
                </ValidationProvider>
              </v-form>
            </ValidationObserver>
            <div class="text-center mt-4 mb-4">
              <v-alert
                type="error"
                text
                dense
                prominent
                v-show="error.message !== ''"
                v-html="error.message"
              >
              </v-alert>
              <v-btn
                rounded
                block
                color="teal darken-4"
                :disabled="loadingAuth"
                :loading="loadingAuth"
                @click="registerHandler"
                class="white--text text-capitalize"
              >
                daftar
              </v-btn>
            </div>
            <div class="text-center mb-5 grey--text">
              <p class="caption">
                Sudah punya akun?
                <router-link to="/login">Masuk</router-link>
              </p>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import auth from '@/mixins/auth';
export default {
  mixins: [auth],
  data() {
    return {
      show: false,
      showConPass: false,
      form: {
        name: '',
        email: '',
        mobilephone: '',
        password: '',
        confirm_password: '',
      },
    };
  },
  methods: {
    async registerHandler() {
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        try {
          await this.register(this.form);
          this.$router.push('/401');
        } catch (e) {
          // eslint-disable-next-line no-console
          console.error(e.errors.message);
        }
      }
    },
  },
};
</script>
