<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card outlined>
          <v-card-title>
            <v-sheet
              width="100%"
              class="d-sm-flex align-center justify-space-between"
            >
              <div class="text--secondary">List Laporan</div>
              <v-sheet class="d-sm-flex mt-4 mt-sm-0 align-center">
                <v-text-field
                  dense
                  outlined
                  v-model="search"
                  hide-details
                  placeholder="Cari Laporan . . ."
                  clearable
                  color="teal darken-4"
                  prepend-inner-icon="mdi-magnify"
                  class="mb-4 mb-sm-0 mr-sm-2"
                  :full-width="$vuetify.breakpoint.name === 'xs'"
                >
                </v-text-field>
              </v-sheet>
            </v-sheet>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-row>
          <v-col
            v-for="(report, i) in loadReports && page === 1 ? 8 : reports"
            :key="`report-${i}`"
            cols="12"
            sm="4"
            lg="3"
          >
            <v-skeleton-loader
              width="100%"
              :loading="loadReports"
              transition="scale-transition"
              type="card"
            >
              <v-card outlined>
                <router-link
                  :to="{
                    name: 'report-detail',
                    params: { id: report.id },
                  }"
                >
                  <v-avatar
                    height="200"
                    color="grey lighten-1"
                    tile
                    width="100%"
                  >
                    <v-img
                      v-if="report.image && report.image[0]"
                      :src="report.images[0]"
                    />
                  </v-avatar>
                </router-link>
                <v-card-title>
                  <router-link
                    :to="{
                      name: 'report-detail',
                      params: { id: report.id },
                    }"
                  >
                    <span
                      class="grey--text text-body-1 font-weight-bold text-md-h6"
                    >
                      {{ report.title | title }}
                    </span>
                  </router-link>
                </v-card-title>
                <v-card-subtitle>
                  {{ report.createAt | datetime }}
                </v-card-subtitle>
                <v-card-actions>
                  <v-list-item
                    style="max-width: 100%"
                    v-if="report.user"
                    class="grow"
                    color="white"
                  >
                    <v-list-item-avatar color="grey lighten-1">
                      <v-img
                        class="elevation-6"
                        :alt="report.user.name"
                        :src="report.user.avatar"
                      />
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title
                        class="text-body-2 grey--text text--darken-2 text-truncate"
                      >
                        {{ report.user.name }}
                      </v-list-item-title>
                      <v-list-item-subtitle class="caption">
                        {{ report.user.email }}
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-card-actions>
              </v-card>
            </v-skeleton-loader>
          </v-col>
          <!-- <v-col
            v-if="
              paginationReports.totalPage > 1 &&
              page < paginationReports.totalPage
            "
            cols="12"
            class="text-center mt-8 mb-12"
          >
            <v-btn
              :loading="loadReports"
              color="teal darken-4"
              class="text-capitalize"
              @click="
                page += 1;
                getReportsHandler();
              "
              dark
            >
              Muat lebih banyak
            </v-btn>
          </v-col> -->
          <v-col cols="12" v-show="!loadReports && reports.length < 1">
            <div class="text-center text--secondary">
              <v-icon
                style="font-size: 60px; margin-top: 1.5em"
                color="teal darken-4"
              >
                mdi-close-circle-outline
              </v-icon>
              <p class="headline font-weight-bold mt-2 mb-1">Data kosong</p>
              <p>Data yang Anda cari tidak ada disini</p>
            </div>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import report from '@/mixins/report';
import debounce from 'lodash.debounce';
export default {
  mixins: [report],
  data() {
    return {
      search: '',
      pageCount: 0,
      itemsPerPage: 10,
      reportsData: [],
    };
  },
  watch: {
    page(value) {
      if (value > 1) {
        const last = this.reportsData.pop();
        this.getReportsHandler(last);
      }
    },
    search: {
      handler: debounce(function () {
        this.page = 1;
        this.reportsData = [];
        this.getReportsHandler();
      }, 500),
      immediate: true,
    },
  },
  methods: {
    async getReportsHandler(last) {
      await this.getReports(this.search, last);
      this.reportsData.push(...this.reports);
    },
  },
};
</script>
