/* SCROLL */
/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #004d40;
}
::-webkit-scrollbar-track {
  background-color: #004d40;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #004d40;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
} */

/* HREF */
a:-webkit-any-link {
  text-decoration: none;
}

/* CURSOR */
.cursor-pointer {
  cursor: pointer;
}

/* LINE */
.line-text {
  line-height: 1.5 !important;
}

/* MAP */
._maps {
  width: 100%;
  height: 350px;
}

.gm-style-iw {
  width: 300px !important;
  left: 0px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid #fff;
  border-radius: 2px 2px 10px 10px;
}
#iw-container {
  margin: 0px 20px 10px 10px;
}
#iw-container .iw-title,
#iw-container .iw-title a {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  background-color: #004d40;
  color: #fff;
  margin: 0;
  border-radius: 10px;
}
#iw-container .iw-content {
  font-size: 12px;
  margin-top: 10px;
  padding: 5px 0;
}
.iw-content .profile {
  float: right;
  margin: 0 5px 5px 10px;
}
#iw-container .iw-content p {
  margin: 0;
  line-height: 1.5em;
}
#iw-container .iw-subTitle,
#iw-container .iw-subTitle a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 0;
}

.green-dark-background {
  background: #11271c;
}

@media (min-width: 960px) {
  .col.md5-custom {
    width: 20%;
    max-width: 20%;
    flex: 0 0 20%;
  }
}

.dropzone-input .dropzone {
  border-style: dashed;
  border-color: #90a4ae;
  height: 240px;
  position: relative;
  min-height: 240px;
}

.dropzone-input .dropzone .dropzone-custom-content {
  position: absolute;
  top: 50%;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.dropzone-input .dropzone .dz-preview {
  position: relative;
  display: block;
  height: 100%;
  margin: 0;
}

.dropzone-input .dropzone .dz-preview .dz-remove {
  top: unset;
}
.dropzone-input .dropzone .dz-preview .dz-image {
  position: absolute;
  top: 50%;
  height: 100%;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropzone-input .dropzone .dz-preview .dz-image img {
  height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}

.container-preview {
  text-align: center;
}
.container-preview .v-image__image {
  transition: 0.5s ease;
}
.container-preview .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container-preview:hover .v-image__image {
  opacity: 0.3;
}
.container-preview:hover .middle {
  opacity: 1;
}

.custom-tabs .v-tabs-bar {
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
}
