<template>
  <v-container>
    <v-dialog v-model="dialog.create" persistent scrollable max-width="600">
      <v-card>
        <v-card-title class="teal darken-4 white--text">
          <v-icon color="white" class="mr-2">mdi-account</v-icon>
          {{ selectedPage === 'update' ? 'Ubah' : 'Tambah' }}
          Pengguna
          <v-btn class="mt-n1" icon dark top right absolute @click="resetForm">
            <v-icon color="teal darken-5">mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pt-6">
          <ValidationObserver ref="observer">
            <v-form ref="form" :readonly="loadFormUser">
              <p class="subtitle-2 mb-3 text--secondary">Informasi Pengguna</p>
              <ValidationProvider
                name="Nama"
                rules="required"
                v-slot="{ errors }"
              >
                <v-text-field
                  dense
                  outlined
                  label="Nama"
                  color="teal darken-4"
                  v-model="form.name"
                  :error-messages="errors"
                >
                </v-text-field>
              </ValidationProvider>
              <ValidationProvider
                name="Telepon"
                rules="required|min:8|max:13"
                v-slot="{ errors }"
              >
                <v-text-field
                  dense
                  outlined
                  label="Telepon"
                  type="number"
                  color="teal darken-4"
                  v-model="form.mobilephone"
                  :error-messages="errors"
                />
              </ValidationProvider>
              <ValidationProvider
                name="Email"
                rules="email"
                v-slot="{ errors }"
              >
                <v-text-field
                  dense
                  outlined
                  label="Email"
                  type="email"
                  color="teal darken-4"
                  v-model="form.email"
                  :error-messages="errors"
                />
              </ValidationProvider>
              <ValidationProvider
                name="Jabatan"
                rules="required"
                v-slot="{ errors }"
              >
                <v-select
                  v-model="form.role"
                  :error-messages="errors"
                  :items="roles"
                  dense
                  outlined
                  color="teal darken-4"
                  label="Jabatan"
                  item-text="label"
                  item-value="value"
                />
              </ValidationProvider>
              <p class="subtitle-2 mb-3 text--secondary">Status Pengguna</p>
              <ValidationProvider
                name="Status"
                rules="required"
                v-slot="{ errors }"
              >
                <v-switch
                  v-model="form.isActive"
                  :error-messages="errors"
                  :label="form.isActive ? 'Aktif' : 'Non-Aktif'"
                  dense
                  color="teal darken-4"
                />
              </ValidationProvider>
            </v-form>
          </ValidationObserver>
          <v-alert
            v-if="error.message"
            text
            type="error"
            class="custom-alert my-4"
          >
            <p class="body-2 mb-0">
              {{ error.message }}
            </p>
          </v-alert>
        </v-card-text>
        <v-card-actions class="pb-6 px-6">
          <v-spacer></v-spacer>
          <v-btn
            small
            color="#fff"
            elevation="0"
            :disabled="loadFormUser"
            class="text-capitalize grey--text text--darken-1"
            @click="resetForm"
          >
            Batal
          </v-btn>
          <v-btn
            small
            light
            color="teal darken-4"
            elevation="0"
            :disabled="loadFormUser"
            :loading="loadFormUser"
            @click="saveForm"
            class="white--text text-capitalize"
          >
            Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row>
      <v-col cols="12">
        <v-card outlined>
          <v-card-title>
            <div class="text--secondary">List Pengguna</div>
          </v-card-title>
          <v-card-subtitle class="mt-3">
            <v-sheet class="d-sm-flex align-center justify-space-between">
              <v-sheet class="d-sm-flex mt-4 mt-sm-0 align-center">
                <v-text-field
                  dense
                  outlined
                  v-model="search"
                  hide-details
                  placeholder="Cari Pengguna . . ."
                  clearable
                  color="teal darken-4"
                  prepend-inner-icon="mdi-magnify"
                  class="mb-4 mb-sm-0 mr-sm-2"
                  :full-width="$vuetify.breakpoint.name === 'xs'"
                >
                </v-text-field>
              </v-sheet>
            </v-sheet>
          </v-card-subtitle>
          <v-card-text>
            <v-divider class="my-2" />
            <v-skeleton-loader
              class="ma-auto"
              :loading="loadUsers"
              transition="fade-transition"
              :tile="false"
              type="table-row"
              v-for="index in loadUsers ? 10 : 1"
              :key="index"
            >
              <v-data-table
                v-show="users.length >= 1"
                :headers="headers"
                mobile-breakpoint="1"
                hide-default-footer
                :items="users"
                :page.sync="page"
                @page-count="pageCount = $event"
                :search="search"
                :items-per-page="itemsPerPage"
                fixed-header
                min-height="250px"
                :height="
                  $vuetify.breakpoint.name !== 'xs' ? 'calc(100vh - 50vh)' : ''
                "
              >
                <template v-slot:[`item.aksi`]="{ item }">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        x-small
                        color="green"
                        elevation="0"
                        class="text-capitalize white--text ma-1"
                        v-bind="attrs"
                        v-on="on"
                        @click="toDetail(item)"
                      >
                        <v-icon small>mdi-alert-circle-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>Detail</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        x-small
                        color="blue darken-1"
                        elevation="0"
                        class="text-capitalize white--text ma-1"
                        v-bind="attrs"
                        v-on="on"
                        @click="updateAccountHandler(item)"
                      >
                        <v-icon small>mdi-square-edit-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>Edit</span>
                  </v-tooltip>
                </template>
                <template v-slot:[`item.name`]="{ item }">
                  <v-sheet class="d-flex align-center py-3 transparent">
                    <v-avatar :color="item.avatar ? 'white' : 'grey lighten-2'">
                      <v-img :src="item.avatar" />
                    </v-avatar>
                    <h3
                      v-text="item.name"
                      class="body-2 font-weight-regular ml-3"
                    />
                  </v-sheet>
                </template>
                <template v-slot:[`item.isActive`]="{ item }">
                  <span
                    :class="item.isActive ? 'green--text' : 'red--text'"
                    class="transparent"
                  >
                    {{ item.isActive ? 'Aktif' : 'Non-Aktif' }}
                  </span>
                </template>
                <template v-slot:[`item.email`]="{ item }">
                  {{ item.email || '-' }}
                </template>
                <template v-slot:[`item.mobilephone`]="{ item }">
                  {{ item.mobilephone || '-' }}
                </template>
                <template v-slot:[`item.last_login`]="{ item }">
                  <template v-if="item.last_login">
                    {{ item.last_login.toDate() | datetime }}
                  </template>
                  <template v-if="!item.last_login"> - </template>
                </template>
              </v-data-table>
            </v-skeleton-loader>
            <div
              class="text-center text--secondary"
              v-show="!loadUsers && users.length < 1"
            >
              <v-icon
                style="font-size: 60px; margin-top: 1.5em"
                color="teal darken-4"
              >
                mdi-close-circle-outline
              </v-icon>
              <p class="headline font-weight-bold mt-2 mb-1">Data kosong</p>
              <p>Data yang Anda cari tidak ada disini</p>
            </div>
          </v-card-text>
          <v-card-actions class="pb-6 px-6">
            <v-row>
              <v-col
                v-if="users.length > 0 && $vuetify.breakpoint.name !== 'xs'"
                cols="5"
              >
                <div class="body-2 font-weight-bold mt-4">
                  Total {{ users.length }} data
                </div>
              </v-col>
              <v-col
                v-if="pageCount > 1"
                :cols="$vuetify.breakpoint.name !== 'xs' ? '7' : '12'"
              >
                <div class="float-sm-right">
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                    :total-visible="5"
                    color="primary"
                    circle
                  >
                  </v-pagination>
                </div>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import user from '@/mixins/user';
export default {
  mixins: [user],
  data() {
    return {
      search: '',
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      defaultArea: true,
      detail: {},
      form: {
        id: '',
        name: '',
        email: '',
        mobilephone: '',
        avatar: '',
        role: '',
        isActive: false,
      },
      dialog: {
        create: false,
      },
      selectedPage: '',
      headers: [
        {
          text: 'Aksi',
          value: 'aksi',
          align: 'start',
          width: 230,
          sortable: false,
          class: 'font-weight-black body-2',
        },
        {
          text: 'Nama',
          width: 230,
          class: 'font-weight-black body-2',
          value: 'name',
        },
        {
          text: 'Email',
          width: 230,
          class: 'font-weight-black body-2',
          value: 'email',
        },
        {
          text: 'Jabatan',
          width: 230,
          class: 'font-weight-black body-2',
          value: 'role',
        },
        {
          text: 'Telepon',
          width: 200,
          class: 'font-weight-black body-2',
          value: 'mobilephone',
        },
        {
          text: 'Status',
          width: 100,
          class: 'font-weight-black body-2',
          value: 'isActive',
        },
        {
          text: 'Login Terakhir',
          width: 200,
          class: 'font-weight-black body-2',
          value: 'last_login',
        },
      ],
    };
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    toDetail(item) {
      this.$router.push({
        name: 'user-laporan',
        params: { id: item.id },
      });
    },
    resetForm() {
      this.clearError();
      if (this.$refs.observer) this.$refs.observer.reset();
      this.dialog = {
        create: false,
        delete: false,
      };
      this.form = {
        id: '',
        name: '',
        email: '',
        mobilephone: '',
        avatar: '',
        role: '',
        isActive: false,
      };
      this.selectedPage = '';
      this.detail = {};
    },
    async saveForm() {
      this.clearError();
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        try {
          if (this.form.id) {
            await this.updateUser(this.form, this.form.id);
          } else {
            await this.createUser(this.form);
          }
          this.page = 1;
          this.resetForm();
          await this.getUsers();
        } catch (e) {
          // eslint-disable-next-line no-console
          console.error(e);
        }
      }
    },
    updateAccountHandler(user) {
      this.selectedPage = 'update';
      this.form = {
        id: user.id,
        name: user.name,
        email: user.email,
        mobilephone: user.mobilephone,
        avatar: user.avatar,
        role: user.role,
        isActive: user.isActive,
      };
      this.dialog.create = true;
      this.showPage = true;
    },
  },
};
</script>
