<template>
  <v-container fluid class="pa-0">
    <v-row no-gutters>
      <v-col cols="12">
        <v-btn
          class="custom-fab"
          color="teal darken-3"
          dark
          absolute
          bottom
          right
          fab
          to="/report"
        >
          <v-icon>mdi-bell</v-icon>
        </v-btn>
        <gmap-map
          class="gmap"
          ref="gmap"
          :options="mapOptions"
          :center="center"
          s
          :zoom="10"
          :scrollwheel="false"
          map-type-id="hybrid"
          :style="
            $vuetify.breakpoint.name === 'xs'
              ? 'height: calc(100vh - 56px);'
              : 'height: calc(100vh - 64px);'
          "
        >
          <gmap-marker
            v-for="(item, index) in markers"
            ref="markers"
            :key="index"
            :animation="item.animation"
            :position="item.position"
            :icon="item.icon"
            @click="toggleInfoWindow(item, index)"
          >
          </gmap-marker>
          <gmap-info-window
            :options="infoOptions"
            :position="infoWindowPos"
            :opened="infoWinOpen"
            @closeclick="infoWinOpen = false"
          >
            <div v-html="infoContent"></div>
          </gmap-info-window>
        </gmap-map>
      </v-col>
    </v-row>
    <v-footer padless absolute color="rgba(0,0,0,.6)">
      <v-container fluid class="pa-0">
        <v-row no-gutters align="center">
          <v-col
            cols="3"
            class="clock bottom-text text-center py-2 text-uppercase d-none d-sm-block"
          >
            {{ clock | dateclock }}
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-container>
</template>

<script>
import map from '@/mixins/map';

import { db } from '@/plugins/firebase';

import moment from 'moment';
moment.locale('id');

export default {
  mixins: [map],
  data() {
    return {
      clock: null,
      mapOptions: {
        zoomControl: true,
        zoomControlOptions: {
          // eslint-disable-next-line no-undef
          // position: google.maps.ControlPosition.TOP_RIGHT
        },
        mapTypeControl: true,
        mapTypeControlOptions: {
          // eslint-disable-next-line no-undef
          // style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
          // eslint-disable-next-line no-undef
          // position: google.maps.ControlPosition.LEFT_TOP,
          mapTypeIds: ['roadmap', 'hybrid'],
        },
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false,
        disableDefaultUi: false,
      },
      users: [],
    };
  },
  firestore() {
    return {
      users: db.collection('users'),
    };
  },
  mounted() {
    this.setClock();
    this.getUsersHandler();
  },
  methods: {
    setClock() {
      setInterval(() => {
        const now = moment();
        this.clock = now._d;
      }, 1000);
    },
    async getUsersHandler() {
      this.$refs.gmap.$mapPromise.then(async (map) => {
        const users = await db.collection('users').get();
        users.docs.forEach((user) => {
          let icon = require('@/assets/icons/marker-babinsa.svg');
          this.markers.push({
            content: user.data(),
            animation: 0,
            position: {
              lat: parseFloat(user.data().last_latitude),
              lng: parseFloat(user.data().last_longitude),
            },
            icon: {
              url: icon,
              // eslint-disable-next-line no-undef
              scaledSize: new google.maps.Size(25, 50),
              // eslint-disable-next-line no-undef
              origin: new google.maps.Point(0, 0),
              // eslint-disable-next-line no-undef
              anchor: new google.maps.Point(0, 0),
            },
          });
        });
        map.addListener('zoom_changed', function () {
          if (map.zoom >= 5 && map.zoom < 10) {
            this.radius = 10000;
          } else if (map.zoom >= 10 && map.zoom < 12) {
            this.radius = 5000;
          } else if (map.zoom >= 12 && map.zoom < 14) {
            this.radius = 2500;
          } else if (map.zoom >= 14 && map.zoom < 16) {
            this.radius = 1250;
          } else if (map.zoom >= 16 && map.zoom < 18) {
            this.radius = 625;
          } else if (map.zoom >= 18 && map.zoom < 20) {
            this.radius = 322.5;
          }
        });
      });
    },
    getInfoWindowContent(marker) {
      return `
        <div id="iw-container">
          <div class="iw-content">
            <img class="profile" src="${marker.content.accountAvatar}" height="100" width="100">
            <div class="iw-subTitle">
              <a href="/user/detail/${marker.content.accountId}/laporan" target="_blank">
                ${marker.content.accountName}
              </a>
            </div>
            <p>
              Telepon. ${marker.content.accountMobilephone}
              <br>
              NRP/NIK. ${marker.content.accountCode}
              <br>
              Unit ${marker.content.unitName} 
            </p>
            <p>
              <a href="/call/${marker.content.accountId}" target="_blank">
                Hubungi ${marker.content.accountName} ?
              </a>
            </p>
          </div>
        </div>
      `;
    },
  },
};
</script>
<style lang="scss">
$mobile: 600px; // Screen min
$desktop: 1200px; // Screen max
$font-min: 16px;
$font-max: 20px;
$screen-diff: ($desktop / 1px - $mobile / 1px);
$font-diff: ($font-max / 1px - $font-min / 1px);

.bottom-text {
  letter-spacing: 0.15em;
  font-size: 20px;
  color: #daf6ff;
  font-weight: bold;
}

.bottom-text {
  // Mobile
  @media (max-width: 599px) {
    font-size: $font-min;
  }

  // Everything in between mobile (600px) to desktop (1200px)
  @media (min-width: 600px) and (max-width: 1200px) {
    font-size: calc(
      #{$font-min} + (100vw - #{$mobile}) / #{$screen-diff} * #{$font-diff}
    );
  }
  // Desktop
  @media (min-width: 1201px) {
    font-size: $font-max;
  }
}
.marquee-text-text {
  padding-left: 95vw;
  min-height: 24px;
}
.clock {
  background: #010c14;
  text-shadow: 0 0 20px #250692, 0 0 20px rgba(10, 175, 230, 0);
}
.gmap .gm-bundled-control {
  top: 0;
  bottom: unset;
}
.vue-map-hidden {
  display: block;
}
.card-map {
  position: absolute;
  top: 60px;
  left: 10px;
}
.custom-fab.v-btn--fab.v-size--default.v-btn--absolute.v-btn--bottom {
  bottom: 60px;
}
</style>
