<template>
  <v-app>
    <Navbar v-if="isLoggedIn" />
    <v-main :class="{ 'green-dark-background': greenDarkBackground }">
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex';
const Navbar = () => import('@/components/Navbar');
import auth from '@/mixins/auth';
import pushNotif from '@/mixins/pushNotif';
export default {
  mixins: [auth, pushNotif],
  name: 'App',
  components: {
    Navbar,
  },
  async mounted() {
    await this.getLoggedInUser();
    if ('Notification' in window && 'serviceWorker' in navigator) {
      this.getFirebaseMessagingToken();
    }
  },
  watch: {
    $route: {
      handler(val) {
        window.scrollTo(0, 0);
        if (val.name !== 'login') {
          if ('Notification' in window && 'serviceWorker' in navigator) {
            this.getFirebaseMessagingToken();
          }
        }
      },
    },
  },
  computed: {
    ...mapGetters(['isLoggedIn']),
    greenDarkBackground() {
      const route = this.$route.name;
      const routes = ['login', 'register', 'menu', '404', '500', '401'];
      if (routes.includes(route)) {
        return true;
      }
      return false;
    },
  },
};
</script>
